.username-administrador {
    color: #9B2D20 !important;
    text-align: center;
}

.active-button-administrador {
    background-color: #9B2D20 !important;
    color: white !important;
}

.sidebar-button:hover {
    background-color: #f8f9fa !important;
}

.btn-light {
    background-color: #f8f9fa !important;
}

.active-button-administrador:hover {
    background-color: #9B2D20 !important;
    color: white !important;
}