.listar-funcionarios-container {
    margin-left: 30px;
    transform: scale(0.9);
    transform-origin: top left;
  }

  .img-perfil{
      width: 50px;
      height: 50px;
      object-fit: cover;
      border-radius: 50%;
  }
  
  .conteudo-lista{
    margin-top: 30px;
  }
  
  .cor-padrao-funcionario{
      color: #9B2D20;
    }
    .cor-padrao-btn-funcionario{
      background-color: #9B2D20;
      color: #fff;
      border: none;
    }
  .cor-padrao-btn-funcionario:hover{
    background-color: #9B2D20;
    color: #fff;
  }
  .status-ativo{
    background-color: #07C158;
  }
  .status-arquivado{
    background-color: #9B2D20;
  }
    .menu button {
      text-align: left;
    }
    
    .content {
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
    }
    .bg-praticante{
      background-color: #f8f9fa;
    }
    .list-group-item {
      border: 1px solid #ddd;
      border-radius: 8px;
      margin-bottom: 10px;
      padding: 15px;
    }
    