* {
    font-family: 'Poppins', sans-serif;
}

.titulo {
    color: #07C158;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 1vw;
}

.botoes {
    width: 150px;
    font-size: 12px;
    margin: 0;
}

.linha-full {
    width: 100%;
    border: none;
    border-top: 2px solid #8d8d8d;
    margin-top: 0;
}

.sessao-listagem {
    width: 100%; 
    padding: 0 20px;
    box-sizing: border-box;
}


.sessao-item {
    background-color: #f8f9fa;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    padding: 15px; 
}


.sessao-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    flex-shrink: 0; 
}

.sessao-info {
    display: flex; 
    justify-content: space-between; 
    flex-grow: 1; 
    padding: 0 10px;
    font-size: 14px;
    margin-right: 20%;
}

.status {
    font-weight: bold;
    flex-shrink: 0;
    font-size: 14px;
}

.btn-success {
    background-color: #07C158 !important; 
    border-color: #07C158 !important;  
}

.text-success {
    color: #07C158 !important;
}

/* Responsividade */
@media (max-width: 768px) {
    .titulo {
        font-size: 20px;
    }

    .botoes {
        width: 120px;
    }

    .sessao-info p {
        font-size: 14px;
    }
}
